.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .no-project-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;

    .no-project-title {
      font-size: 18px;
      font-weight: 700;
    }

    .no-project-text {
      font-size: 14px;
    }
  }
}
