a {
  text-decoration: none;
  color: #dbdbdb;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;

  background-color: #1d1d1d;

  .nav-items {
    display: flex;
    justify-content: flex-end;
    font-family: "Audiowide", cursive;

    .nav-item {
      margin-top: 18px;
      margin-right: 20px;
    }
  }

  .logo {
    position: absolute;
    top: 12px;
    left: 20px;
    font-family: "Audiowide", cursive;
    font-size: 26px;

    .text-blue {
      color: #8cbbf8;
    }
  }
}
